@import "compass";
@import "fonts";
@import "modules/skeleton";
@import "modules/basic";
@import "modules/basic-out";
@import "modules/circle";
@import "modules/circle-out";


$experimental-support-for-svg:true;


@mixin breakpoint($point) {
  @if $point == une {
    @media (min-width: 500px) { @content; }
  }
  @else if $point == duex {
    @media (min-width: 800px) { @content; }
  }
  @else if $point == trois {
    @media (min-width: 1000px)  { @content; }
  }
}


body{
	background-color: rgb(30,30,30);
	background-color: white;
	@include single-transition(all, 0.2s, linear, 0s);
}



*::selection{
	background-color: transparent;
}

.sli-hold{
	width: 100%;
	float: left;
	@include box-sizing(border-box);
	padding: 2em;
}




